.row{
    display:flex;
}
div{
    margin-top: 5px;
}
.col{
    border:1px solid rgb(46, 117, 117);
    background-color: rgb(73, 156, 129);
    color:white;
    width: 180px;
    margin-right:10px;
    padding: 15px;
    flex:1;
}
.col-2{
    border:1px solid rgb(46, 117, 117);
    background-color: rgb(73, 156, 129);
    color:white;
    width: 180px;
    margin-right:10px;
    padding: 15px;
    flex:3;

}
.col-3{
    border:1px solid rgb(46, 117, 117);
    background-color: rgb(73, 156, 129);
    color:white;
    width: 180px;
    margin-right:10px;
    padding: 15px;
    flex:5;
}